form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  max-width: 78vh;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

form mat-form-field + mat-form-field {
  margin-left: 8px;
}